.post-item{
  border: 1px solid rgb(128, 39, 167);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.post-item h2 {
  margin-top: 0;
  font-weight: 500;
  color: rgb(128, 39, 167);
}

.post-item p {
  margin: 5px 0;
}

.post-item .post-actions {
    margin-top: 10px;
  }
  
  .post-item .delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .post-item .delete-btn:hover {
    background-color: #d32f2f;
  }
  
  .post-item .edit-link {
    color: white;
    padding: 4px 8px;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(166, 77, 205);
    margin-right: 10px;
    padding-top: 10px;
  }
  
  .post-item .edit-link:hover {
    background-color: rgb(128, 39, 167);
  }
  
  .first-line{
    display: flex;
    justify-content: space-between;
  }
  .last-line{
    display: flex;
    justify-content: space-between;
  }
  
  .yourPosts{
    margin-bottom: 10px;
    margin-left: 15px;
  }

 