.register button {
    background-color: rgb(166, 77, 205);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register button:hover {
    background-color: rgb(128, 39, 167);
}

.registerTitle h2 {
    text-align: center; /* uncommented for centering */
    padding-bottom: 20px;
    font-size: 24px;
}

.registerContainer {
    text-align: center;
    margin: 5% auto; /* Center container with auto margin */
    border: 1px solid rgba(166, 77, 205);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px; /* Adjusted for better responsiveness */
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
}

.registerInputs {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Replaces padding-bottom for each child */
}

.registerInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.instead{
    margin-top:50px;
}

@media (max-width: 600px) {
    .registerContainer {
        margin: 10% 5%;
        padding: 10px;
        max-width: 90%;
    }
    
    .registerTitle h2 {
        font-size: 20px;
    }

    .register button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .registerInput {
        padding: 8px;
        font-size: 14px;
    }
}
